* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-ilrxi {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-iej0b {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-i29q {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-idxi {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-i03j {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-i65g {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-is29 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-idrm {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-i9kq {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#template-iy54u {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    display: flex;
    min-height: 0px;
}

#template-i2vsk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#template-iqypg {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb(85, 76, 166);
}

#template-iyn7t {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 900px;
}

#template-inf3l {
    flex-basis: 50%;
    display: flex;
    align-self: center;
    height: 100%;
    justify-content: center;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(229, 70, 234, 0.53);
    border-right-color: rgba(229, 70, 234, 0.53);
    border-bottom-color: rgba(229, 70, 234, 0.53);
    border-left-color: rgba(229, 70, 234, 0.53);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: rgba(237, 209, 243, 0.59);
}

#template-i9dvt {
    color: black;
    width: 100%;
    justify-content: center;
    align-self: center;
}

#template-iclqi {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-i30eo {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#template-iw07t {
    background-color: #f7f6f6;
}

#template-isqiv {
    background-color: #f7f6f6;
}

#template-ip26w {
    background-color: #f7f6f6;
}

#template-iq5pf {
    background-color: #f7f6f6;
}

#template-ih3kr {
    background-color: #f7f6f6;
}

#template-ijpxa {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

#template-inw1j {
    margin: 0 20px 0 20px;
    padding: 10px 10px 10px 10px;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}